.rule-container {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    max-height: 80vh;
    overflow-y: auto;
}
.rule-container span {
    line-height: 1.4rem;
}
.rule-container-category {
    gap: 0.5em;
    display: flex;
    flex-direction: column;
}
.rule-container-category:not(:last-child) {
    border-bottom: 1px solid var(--block-2);
    padding-bottom: 0.75em;
}
.rule-example-headline {
    color: var(--blue-color-1);
    font-size: 1.1rem;
    font-weight: 600;
}
.rule-description-key {
    font-size: 1.1rem;
    font-weight: 600;
}
.rule-list-container {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}
.rule-list-container-elements {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}
.rule-list-element {
    padding: 4px 8px;
    font-size: 0.9rem;
    color: var(--color-1);
    background: var(--block-1);
    border-radius: var(--border-radius-1);
}
.rule-description-value {
}
.rule-example-plain-text {
}
.rule-bullet-points-container {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}
.rule-bullet-point {
    margin-left: 0.5em;
}
.rule-chat-example {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}
.rule-chat-message-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25em;
    align-items: center;
    margin-left: 0.5em;
}
.rule-chat-user.user-a {
    color: #ff7bf4
}
.rule-chat-user.user-b {
    color: #93ff7b
}
.rule-chat-message {
    background: var(--block-1);
    padding: 4px 8px;
    border-radius: var(--border-radius-1);
    font-size: 0.9rem;
}
.rule-chat-description {
    color: var(--color-desc);
    font-size: 0.9rem;
}
.rule-punishment-td {
    padding: 0.5em 1em;
    margin: 0;
    line-height: 1.4rem;
}
.rule-punishment-punishment {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.punishment-table {
    width: 100%;
    background: var(--block-2);
    border-radius: var(--border-radius-2);
    padding: 0;
    border-spacing: 0;
    overflow: hidden;
}
.rule-punishment-th {
    padding: 0.5em 1em;
    text-align: left;
    color: var(--blue-color-1);
    font-size: 1.1rem;
}
.rule-punishment-th:nth-child(2) {
    padding: 0.5em 0;
}
tr:nth-child(even) {
    background-color: var(--block-3);
}
.punishment-key {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--bg-color);
    padding: 2px 10px 2px 30px;
    align-self: flex-start;
    border-radius: var(--border-radius-1);
    white-space: nowrap;
}
.rule-punishment-title {
    white-space: nowrap;
    font-weight: 500;
    color: var(--blue-color-1);
    text-align: center;
}
.punishment-key::before {
    content: '';
    position: absolute;
    left: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.punishment-key.ban::before {
    background: #e35252;
}
.punishment-key.warn::before {
    background: #dc8163;
}
.punishment-key.mute::before {
    background: #e5d467;
}
.punishment-key.nar::before {
    background: #c4c5ce;
}
.punishment-key.verbal::before {
    background: #87d57b;
}
.punishment-key.older::before {
    background: #586bdf;
}
.punishment-value {
    margin-left: 4px;
    color: #cdd4de;
    font-weight: 500;
}
.rule-punishment-description {
    padding: 0.5em 0;
}
.rule-image-container {
    display: flex;
    padding: 0.5em;
    background: var(--block-2);
    border: 1px solid var(--color-3);
    border-radius: var(--border-radius-2);
    align-self: flex-start;
}
.rule-image-container > img {
    border-radius: var(--border-radius-1);
}
.rule-punishment-table.short {
    align-self: flex-start;
}
.rule-punishment-table.short > .punishment-table > .rule-punishment-tr > .rule-punishment-punishment {
    flex-direction: row;
}
.rule-punishment-table.short > .punishment-table > .rule-punishment-tr > .rule-punishment-th {
    padding-left: 1em;
}
@media (orientation: portrait) {
    .rule-punishment-tr {
        display: flex;
        flex-direction: column;
    }
    .rule-punishment-th {
        display: none;
    }
    .rule-punishment-description {
        padding: 0 1em;
    }
    .rule-punishment-title {
        text-align: left;
    }
    .rule-image-container > img {
        width: 100% !important;
        height: unset !important;
    }
    .rule-punishment-punishment {
        flex-wrap: wrap;
    }
}