header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8%;
    position: fixed;
    width: calc(100% - 16%);
    height: var(--header-height);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid transparent;
    transition: height 0.2s, border-bottom 0.2s;
}
body:has(.search-modal-container.open) header {
    width: calc(100% - 16% - 10px);
}
header.scrolled {
    height: 50px;
    border-bottom: 1px solid var(--block-3);
}