:root {
    --bg-color: #1d1d21;
    --color-1: rgb(161, 167, 178);
    --color-2: rgb(146, 146, 164);
    --color-3: rgb(124, 128, 143);
    --color-desc: rgb(176, 173, 192);

    --block-1: rgb(39, 39, 44);
    --block-2: rgb(43, 43, 49);
    --block-3: rgb(52, 52, 59);

    --blue-color-1: rgb(104, 181, 251);
    --blue-color-2: rgb(127, 201, 255);

    --border-radius-1: 4px;
    --border-radius-2: 8px;
    --border-radius-3: 16px;

    --header-height: 80px
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    min-height: 100dvh;
    color: var(--color-1);
    position: relative;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
}

main {
    margin-top: var(--header-height);
}
button {
    all: unset;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--block-2);
    border-radius: 3px;
    border: 2px solid var(--bg-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--block-3);
}
.icon.close {
    background: var(--color-1);
    display: flex;
    height: 20px;
    width: 20px;
    -webkit-mask: url('./media/svg/close.svg') no-repeat center / contain;
    mask: url('./media/svg/close.svg') no-repeat center / contain
}

b {
    all: unset;
    color: var(--blue-color-1);
}

c {
    all: unset;
    background: var(--block-1);
    padding: 2px 5px;
    border-radius: var(--border-radius-1);
    font-size: 0.9rem;
    color: var(--blue-color-1);
}
r {
    all: unset;
    background: var(--block-1);
    padding: 2px 5px;
    border-radius: var(--border-radius-1);
    font-size: 0.9rem;
    color: #ff8936;
}
son {
    all: unset;
    background: var(--block-1);
    padding: 2px 5px;
    border-radius: var(--border-radius-1);
    font-size: 0.9rem;
    color: #7fff71;
}
sdnd {
    all: unset;
    background: var(--block-1);
    padding: 2px 5px;
    border-radius: var(--border-radius-1);
    font-size: 0.9rem;
    color: #ff5f5f;
}
soff {
    all: unset;
    background: var(--block-1);
    padding: 2px 5px;
    border-radius: var(--border-radius-1);
    font-size: 0.9rem;
    color: #bbbbbb;
}
si {
    all: unset;
    background: var(--block-1);
    padding: 2px 5px;
    border-radius: var(--border-radius-1);
    font-size: 0.9rem;
    color: #ffbb77;
}
i {
    all: unset;
    background: var(--block-1);
    padding: 2px 5px;
    border-radius: var(--border-radius-1);
    font-size: 0.9rem;
    color: #c75151;
}
g {
    all: unset;
    background: var(--block-1);
    padding: 2px 5px;
    border-radius: var(--border-radius-1);
    font-size: 0.9rem;
    color: #59b05e;
}
u {
    all: unset;
    background: var(--block-1);
    padding: 2px 5px;
    border-radius: var(--border-radius-1);
    font-size: 0.9rem;
    background: #343c66;
    transition-duration: 0.2s;
}
u:hover {
    color: white;
    background: #4a548a;
    cursor: pointer;
}
m {
    all: unset;
    background: var(--block-1);
    padding: 2px 5px;
    border-radius: var(--border-radius-1);
    font-size: 0.9rem;
}

body:has(.search-modal-container.open) header {
    width: calc(100% - 16%);
}
body:has(.rule-modal-container.open) header {
    width: calc(100% - 16%);
}
body:has(.rule-modal-container.open) {
    overflow-y: hidden;
    margin-right: 10px;
}
body:has(.search-modal-container.open) {
    overflow-y: hidden;
    margin-right: 10px;
}

@media (orientation: portrait) {
    ::-webkit-scrollbar {
        display: none;
        width: 0;
    }
    body:has(.search-modal-container.open) header {
        width: calc(100% - 16%) !important;
    }
    body:has(.rule-modal-container.open) header {
        width: calc(100% - 16%) !important;
    }
    body:has(.search-modal-container.open) {
        margin-right: unset !important;
    }
    body:has(.rule-modal-container.open) {
        margin-right: unset !important;
    }
}